.section{
  font-family: 'Montserrat', sans-serif;
  /* height: 100%; */
  padding-top: 72px;
  max-width: 100%;
  background-image: linear-gradient(to left, #252526 55%, #1e1e1e 95%);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container{
  /* display: flex; */
  /* margin: 0 auto; */
  max-width: 1248px;
  /* border: 1px solid rgb(255, 255, 255); */
  color: white;

  /* align-items: center; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(390px,4fr)); */
  /* justify-content: space-between; */
  gap: 70px;
  display: flex;

}

/* .about-content{
  display: flex; 
  flex: 2;
  flex-direction: column;
  align-items: center; 
  justify-self: center; 
   vertical-align: middle; 
   align-self: center;
 }   */

.about-text{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-left: 70px;

}



.name {
  padding: 0 0 12px 0;
  font-size: 40px;
  font-weight: 700;
}

.subtitle{
  padding-bottom: 25px;
  line-height: 1;
  font-size: 28px;
}

.about-description{
  padding: 25px 0;
}

.check-more{
  /* margin-left: 10px; */
  font-style: italic;
}
.about-button{
  align-self: flex-start;
}

/* .about-button{
  height: 30px;
  width: 170px;
  background-color: inherit;
  border: 1px solid white;
  align-items: center;
  transition: .3s;
  border-radius: 5px;
} */

/* .about-button a{
  color: white;
  font-size: 20px;
  transition: .3s;
} */

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin-left: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  transition: .3s;
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}




.about-picture{
  align-self: center;

  max-width: 550px;
  max-height: 550px;
  /* width: fit-content; */
  border: 5px solid white;
  overflow: hidden;
  box-shadow: 5px 10px 5px rgba(0,0,0, 0.5);
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);

  animation: ava-animate 10s alternate infinite;
}



.about-picture img{
  max-width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */

  animation: ava-bg 5s infinite alternate ;
}




@keyframes ava-animate {
  0%{
    border-radius: 51% 49% 70% 30% / 30% 30% 70% 70%;

  }
  40%{
    border-radius: 75% 25% 88% 12% / 53% 87% 13% 47%;
  }
  60%{
    border-radius: 30% 70% 9% 91% / 96% 10% 90% 4%;
  }
  100%{
    border-radius: 85% 15% 82% 18% / 71% 68% 32% 29%  ;
  }
}

@keyframes ava-bg {
  from{
    backdrop-filter: hue-rotate(0);

  }

  to {
    backdrop-filter: hue-rotate(90deg);
  }
}


