.grid{
  font-family: 'Montserrat', sans-serif;
  /* height: 100%; */
  padding-top: 72px;
  width: 100%;
  background-image: linear-gradient(to left, #252526 55%, #1e1e1e 95%);
  height: 100vh;
  gap: 50px;
}


.grid-container{
  width: 1248px;
  display: flex;
  justify-content: center;
}



.grid-box{
  align-self: center;
  align-items: center;
  display: grid;
  grid-template-rows: 200px 150px;
}

.grid-box_img{
  display: grid;
  grid-template-columns: 300px 300px;
  width: 200px;
  height: 350px;
  gap: 15px  ;
}

.grid-box_img img{
  width: 100%;
  object-fit: cover;
}